{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">Contact form</h1>
                        <div class="form-appears">
                            <form name="form_contact" method="POST" action="#">
                                {{ form_start(form) }}
                                <div class="col-lg-5">
                                    {{ form_widget(form) }}
                                </div>
                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">

                                </div>
                                <div class="button">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}