<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Contact Form, Adam Ksiazek akflorek@gmail.com">
    <meta name="copyright" content=	"Copyright (c) 2017 by AK">
    <title>{% block title %}{% if title is defined %}{{ title }}{% endif %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/new-age/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/new-age/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link href="{{ asset('css/new-age.css') }}" rel="stylesheet" />

    {% endblock %}
</head>
<body>
<div id="container">
    <div class="row">
        <div class="col-lg-12">
            {% include 'Partials/nav.html.twig' %}
        </div>
    </div>
        {% for label, messages in app.flashes(['success', 'warning', 'error']) %}
            <div class="success notification-item alert-dismissible">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <div class="text">
                    {% for message in messages %}
                        {{ message|raw|capitalize }} <br/>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    {% block content %}
    {% endblock %}

    {% include 'Partials/footer.html.twig' %}
</div>
<div class="clearfix"></div>
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ asset('bundles/new-age/popper/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/new-age/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/new-age.min.js') }}"></script>
    <script src="{{ asset('bundles/custom/js/app.js') }}"></script>
    <script src="{{ asset('bundles/custom/js/functions.js') }}"></script>
    {% raw %}
    <script>
    </script>
    {% endraw %}
{% endblock %}
</body>
</html>
