#snow {
    background: #d2d2d2;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

#santa-flying {
    background-image: url('/bundles/admin/custom/img/santa-flying.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 75px;
    position: absolute;
    animation: santa-flying 25s linear infinite;
    top: 10px;
    background-position: 150%;
    background-size: 190px;
}

@keyframes santa-flying {
    0% {
        background-position: 150%;
    }
    100% {
        background-position: 0%;
    }
}

@-moz-keyframes santa-flying {
    0% {
        background-position: 150%;
    }
    100% {
        background-position: 0%;
    }
}

@-webkit-keyframes santa-flying {
    0% {
        background-position: 150%;
    }
    100% {
        background-position: 0%;
    }
}

@-ms-keyframes santa-flying {
    0% {
        background-position: 150%;
    }
    100% {
        background-position: 0%;
    }
}