.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

.m-b-20 {
    margin-bottom: 20px;
}

.border-rectangle-list {
    border: 1px solid darkgray;
    height: 300px;
    overflow: auto;
}

.border-rectangle-big {
    border: 1px solid darkgray;
    height: 400px;
}

.border-rectangle-small {
    border: 1px solid darkgray;
    height: 100px;
    width: 100px;
}

.border-rectangle-image-left {
    border: 1px solid darkgray;
    height: 150px;
    width: 150px;
}

.border-rectangle-image-middle {
    border: 1px solid darkgray;
    height: 100px;
    width: 100px;
}

.border-rectangle-image-big {
    border: 1px solid darkgray;
    height: 200px;
    width: 200px;
}

.border-height-100 {
    height: 200;
}