body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f0f0f0;
    color: #272727;
    margin-bottom: 50px;
}

.container {
    margin-left: 14%;
    display: block;
    margin-right: 0px;
    width: auto !important;
    padding-top: 14px;
}

.sidebar {
    position: fixed;
    width: 255px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #121212;
    box-shadow: 0px 0px 10px black;
    overflow: auto;
    width: 14%;
    z-index: 100;
}

.sidebar-nav {
    margin-right: 0px;
}

.sidebar-header {
    padding-top: 20px;
    background-color: #000012;
}

.nav li, .nav a .nav-header {
    margin-bottom: 0px !important;
}

.nav-stacked > li + li {
    margin-top: 0px;
}

.nav > li + .nav-header {
    margin-top: 0px !important;
}

.nav > li > a {
    padding: 0px;
}

.nav-pills > li > a {
    border-radius: 0px;
}

.nav > .nav-header {
    padding: 0px;
}

.nav > .nav-header, .nav > li > a {
    padding: 8px 20px;
    font-size: 12px;
    color: #b1b1b1;
}

.nav > li > a {
    background-color: #181818;
}

.nav-toggleable-sm {
    margin-top: 10px;
}

.user_info {
    padding: 12px 20px;
    background-color: #232323;
    font-size: 12px;
    color: #7d7d7d;
    display: inline-block;
    width: 100%;
}

a {
    color: #ea7c00;
}

a:hover, a:focus {
    color: #ea7c00;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: black;
}

ht.m-t {
    margin-top: 5px !important;
}

.table-full {
    background-color: white;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #626262;
    margin-bottom: 40px;
}

.table-full thead {
    background-color: rgb(225, 225, 225);
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #CFCFCF;
}

.table > thead > tr > th {
    border-bottom: 0px;
}

.m-t {
    margin-top: 5px !important;
}

body, .hr-divider-content {
    background-color: #F0F0F0;
}

form#filters {
    background-color: rgb(233, 233, 233);
    padding: 20px;
    border: 1px solid #ddd;
}

.pagination > li > a, .pagination > li > span {
    background-color: #FFF;
    border: 1px solid #CCC;
    cursor: pointer;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color: #2c2c2c;
    background-color: #d8d8d8;
    border-color: transparent;
    cursor: pointer;
}

.statcard-desc {
    color: #333;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #e7e7e7;
    color: black;
}

.form-control {
    background-color: #FFF;
    border: 1px solid #929292;
    color: black;
}

.form-control:focus {
    border-color: #e67d00;
    background-color: #fff1e1;
}

.custom-control input:checked ~ .custom-control-indicator {
    background-color: #e67d00;
    border-color: #c66c00;
}

.custom-select {
    color: black;
    background-color: #FFF;
    border: 1px solid #929292;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC);
}

.table > tbody + tbody {
    border-top: 0px;
}

.list-group-progress {
    background-color: #cbcbcb;
}

.dashhead {
    padding: 10px 0px;
}

hr {
    border-top: 1px solid #CCC;
}

.profileImg {
    background-size: 100%;
    background-position: center;
    border: 2px solid #d2d2d2;
    display: inline-block;
}

.profileImg.rounded {
    border-radius: 1000px;
}

.jumbotron {
    background-color: #fff;
    border-radius: 0px !important;
}

#notifications {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10;
    font-size: 16px;
}

#notifications > div {
    margin-bottom: 10px;
    border-radius: 15px;
}

.bs-component {
    display: none;
}

.notification-alert .success {
    padding: 10px;
    background-color: #00cb1f;
    color: white;
}

.notification-alert .danger {
    padding: 10px;
    background-color: #ef0000;
    color: white;
}

.notification-alert .warning {
    padding: 10px;
    background-color: #dcea00;
    color: #515050;
}

.notification-alert .info {
    padding: 10px;
    background-color: #fff;
    color: #515050;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 6px #b6b6b6;
}

.notification-item {
    border-radius: 15px;
    padding: 10px 30px !important;
}

.order-notification, .customer-notification {
    background-color: #4e4d4d;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.customer-notification {
    background-color: #ea7c00;
}

.color-orange {
    color: rgb(234, 124, 0);
}

.custom-select:disabled {
    background-color: #c5c5c5 !important;
}

.form-group ul {
    padding: 0px;
    list-style-type: none;
}

.form-group ul li {
    color: red;
}

.form-errors {
    color: red;
    list-style-type: none;
    padding:0px;
    font-size: 12px;
    padding-top: 5px;
}

.nav-tabs > li > a {
    background-color: #232323;
    color: #fff;
    font-size: 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #292929;
}

.nav-tabs {
    border-bottom: 1px solid #FFF;
}

.dropdown-content {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 5px gray;
}

.resend_block {
    background-color: #FFCE9E;
    padding: 10px;
    margin-top: -10px;
    border: 1px solid #717171;
}

.ui-autocomplete {
    z-index: 10000;
}

.loading_table {
    opacity: 0.8;
    filter: blur(0.6px);
    transition: 0.2s;
}

.login-as-customer,
.login-as-customer-domain {
    margin-right:15px;
}

.login-as-customer-domain {
    margin-right: 15px;
    height: 35px;
    border-radius: 4px;
    padding: 0 5px;
    background: transparent;
}