body, .hr-divider-content {
    background-color: #17181A;
}

.input-with-icon {
    width: 100%;
}

.login-box {
    box-shadow: 0px 0px 20px #6c6c6c;
}

img {
    max-width: 100%;
}

.sidebar-brand img {
    height: auto;
}

.login-box .header img {
    width: 70%;
}

.color-red {
    color: red;
}

.table .header {
    padding-right: 8px;
}

.table .header.headerSortDown, .table .header.headerSortUp {
    padding-right: 20px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-t-xs {
    margin-top: 5px;
}

a:focus, button:focus {
    outline: none !important;
}

.deleted {
    text-decoration: line-through;
}

input.datepicker {
    color: inherit !important;
}

.inline-block {
    display: inline-block;
}

.green {
    color: #78ff78;
}

.red {
    color: #ff5858;
}

tr.green > td {
    background-color: #a6ffa6;
    color: #303030;
}

tr.red > td {
    background-color: #ffcfcf;
    color: #303030;
}

.form-row ul {
    padding: 0px;
    list-style-type: none;
    color: #ff5656;
    margin-top: 7px;
    font-size: 11px;
}

.nav-stacked > li + li {
    display: none;
}

.nav > .nav-header {
    display: block;
    cursor: pointer;
}

.statcard.bordered {
    padding: 20px !important;
}

.statcard-number {
    font-size: 18px;
}

.sidebar-brand {
    padding-left: 15px;
    padding-right: 15px;
}

#api_key_normal {
    display: none;
}

.bold {
    font-weight: bold;
}

tr.bold td {
    font-weight: bold;
}

.swal2-modal button.styled {
    background-color: rgb(222, 157, 0) !important;
    border-left-color: rgb(222, 157, 0) !important;
    border-right-color: rgb(222, 157, 0) !important;
}

.preloader_background {
    background-color: #e4e4e4;
    padding: 100px 0px;
    text-align: center;
}

.white-card {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 5px #cfcfcf;
    border-radius: 5px;
}

.sortable {
    list-style-type: none;
    padding: 0px;
}

#preloader {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
    padding-top: 35vh;
    display: none;
}

.sweet-alert button:not(.cancel) {
    background-color: rgb(221, 163, 0) !important;
    box-shadow: 0px 0px 2px rgb(221, 163, 0), 0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset !important;
}

#side-modal-container {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 110;
    display: none;
}

#side-modal-container .layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 111;
}

#side-modal-container .panel {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 550px;
    background-color: white;
    border-radius: 0px;
    margin: 0px;
    padding: 20px;
    box-shadow: 0px 0px 30px #414141;
    display: none;
    overflow-y: scroll;
    z-index: 112;
}

li.widget-list-item {
    background-color: rgb(227, 227, 227);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: grab;
}

.product-widget-item {
    background-color: rgb(237, 237, 237);
    padding: 10px 10px 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.panel label {
    font-weight: inherit;
}

.subscription-products {
    text-align: center;
}

.subscription-products p {
    font-size: 15px!important;
}

code {
    color: white;
}

#loading-bar .bar {
    background: #f90;
    height: 3px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #f90;
    border-left-color: #f90;
}

.ngFade {
    transition:0.3s linear all;
}

.ngFade.ng-hide {
    opacity:0;
}

.lightgreen {
    background-color: lightgreen;
}