.warehouse-border {
    border: 3px solid orange;
    background-color: lightgrey;
    padding: 20px;
}

.warehouse-canvas span{
    text-decoration: underline;
}

.warehouse-place {
    width: 150px;
    height: 110px;
    padding: 1px;
    border: 1px solid red;
    color: red;
}

.warehouse-place-green {
    width: 150px;
    height: 110px;
    padding: 1px;
    border: 1px solid red;
    background-color: lightgreen;
    color: black;
}

.warehouse-shelf{

    padding: 5px;
    margin-bottom: 15px;
    border: 2px solid aquamarine;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.warehouse-lef{
    float: left;
}

.warehouse-clear{
    float: none;
}

.warehouse-canvas h3 {
    font-size: 18px;
}

.warehouse-canvas h3 span{
    text-decoration: none;
    font-size: 16px;
}

.warehouse-canvas h4 span{
    text-decoration: none;
    font-size: 14px;
}

.done td {
    background-color: #f6deff !important;
}

.prediction td {
    background-color: #dfffde !important;
}