body, .hr-divider-content {
    background-color: white;
    color: black !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: black !important;
}

.form-control, .custom-select {
    background-color: white !important;
    color: black !important;
}

.nav > li > a {
    color: #7e7e7e;
}