
.alert {
    padding: 15px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #1bc98e;
    border-color: #1bc98e;
    color: #e7fcf5;
}

.alert-success hr {
    border-top-color: #18b37e;
}

.alert-success .alert-link {
    color: #baf6e2;
}

.alert-info {
    background-color: #9f86ff;
    border-color: #9f86ff;
    color: #ffffff;
}

.alert-info hr {
    border-top-color: #8b6cff;
}

.alert-info .alert-link {
    color: #e6e6e6;
}

.alert-warning {
    background-color: #e4d836;
    border-color: #e4d836;
    color: #ffffff;
}

.alert-warning hr {
    border-top-color: #e1d420;
}

.alert-warning .alert-link {
    color: #e6e6e6;
}

.alert-danger {
    background-color: #e64759;
    border-color: #e64759;
    color: #ffffff;
}

.alert-danger hr {
    border-top-color: #e33145;
}

.alert-danger .alert-link {
    color: #ccffff;
}


#notifications {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10;
    font-size: 16px;
}

#notifications > div {
    margin-bottom: 10px;
    border-radius: 15px;
}

.bs-component {
    display: none;
}

.notification-alert .success {
    padding: 10px;
    background-color: #00cb1f;
    color: white;
}

.notification-alert .danger {
    padding: 10px;
    background-color: #ef0000;
    color: white;
}

.notification-alert .warning {
    padding: 10px;
    background-color: #dcea00;
    color: #515050;
}

.notification-alert .info {
    padding: 10px;
    background-color: #fff;
    color: #515050;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 6px #b6b6b6;
}

.notification-item {
    border-radius: 15px;
    padding: 10px 30px !important;
}

.order-notification, .customer-notification {
    background-color: #4e4d4d;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.customer-notification {
    background-color: #ea7c00;
}
