.hll {
    background-color: #ffffcc;
}

.c {
    color: #999;
}

.err {
    color: #AA0000;
    background-color: #ffaaaa;
}

.k {
    color: #006699;
}

.o {
    color: #555555;
}

.cm {
    color: #999;
}

.cp {
    color: #009999;
}

.c1 {
    color: #999;
}

.cs {
    color: #999;
}

.gd {
    background-color: #FFCCCC;
    border: 1px solid #cc0000;
}

.ge {
    font-style: italic;
}

.gr {
    color: #ff0000;
}

.gh {
    color: #003300;
}

.gi {
    background-color: #CCFFCC;
    border: 1px solid #00cc00;
}

.go {
    color: #aaaaaa;
}

.gp {
    color: #000099;
}

.gu {
    color: #003300;
}

.gt {
    color: #99cc66;
}

.kc {
    color: #006699;
}

.kd {
    color: #006699;
}

.kn {
    color: #006699;
}

.kp {
    color: #006699;
}

.kr {
    color: #006699;
}

.kt {
    color: #007788;
}

.m {
    color: #ff6600;
}

.s {
    color: #d44950;
}

.na {
    color: #4f9fcf;
}

.nb {
    color: #336666;
}

.nc {
    color: #00AA88;
}

.no {
    color: #336600;
}

.nd {
    color: #9999ff;
}

.ni {
    color: #999999;
}

.ne {
    color: #CC0000;
}

.nf {
    color: #cc00ff;
}

.nl {
    color: #9999ff;
}

.nn {
    color: #00CCFF;
}

.nt {
    color: #2f6f9f;
}

.nv {
    color: #003333;
}

.ow {
    color: #000000;
}

.w {
    color: #bbbbbb;
}

.mf {
    color: #ff6600;
}

.mh {
    color: #ff6600;
}

.mi {
    color: #ff6600;
}

.mo {
    color: #ff6600;
}

.sb {
    color: #cc3300;
}

.sc {
    color: #cc3300;
}

.sd {
    color: #CC3300;
    font-style: italic;
}

.s2 {
    color: #cc3300;
}

.se {
    color: #CC3300;
}

.sh {
    color: #cc3300;
}

.si {
    color: #aa0000;
}

.sx {
    color: #cc3300;
}

.sr {
    color: #33aaaa;
}

.s1 {
    color: #cc3300;
}

.ss {
    color: #ffcc33;
}

.bp {
    color: #336666;
}

.vc {
    color: #003333;
}

.vg {
    color: #003333;
}

.vi {
    color: #003333;
}

.il {
    color: #ff6600;
}

.css .o,
.css .o + .nt,
.css .nt + .nt {
    color: #999;
}

.highlight {
    padding: 15px;
    margin: 15px -15px;
    background-color: #f5f5f5;
}

@media (min-width: 768px) {
    .highlight {
        padding: 20px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
    }
}

.highlight pre {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
}

.highlight pre code {
    font-size: inherit;
    color: #51586a;
}

@media (min-width: 768px) {
    .docs-example + .highlight {
        border-width: 0 1px 1px;
        border-radius: 0 0 3px 3px;
    }
}

body {
    overflow-x: hidden;
    padding-bottom: 40px;
}

.docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    background-color: #1ca8dd;
    background-image: linear-gradient(to bottom, #137499, #1ca8dd);
}

.docs-header h1 {
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 1;
}

.docs-header p {
    font-weight: 300;
    line-height: 1.4;
    color: #9fdcf3;
}

@media (min-width: 768px) {
    .docs-header {
        font-size: 24px;
    }

    .docs-header h1 {
        font-size: 60px;
    }
}

@media (min-width: 1200px) {
    .docs-header h1,
    .docs-header p {
        max-width: 75%;
    }
}

#contents {
    display: none;
}

#markdown-toc {
    padding-left: 0;
    margin-top: 30px;
    font-size: 13px;
    list-style: none;
}

#markdown-toc a {
    display: block;
    padding: 2px 10px 2px 10px;
}

#markdown-toc a:hover {
    text-decoration: none;
}

#markdown-toc > li {
    margin-bottom: 5px;
}

#markdown-toc > li:first-child {
    display: none;
}

#markdown-toc ul {
    list-style: none;
    padding-left: 20px;
}

#markdown-toc ul ul {
    display: none;
}

@media (min-width: 768px) {
    #markdown-toc {
        float: right;
        width: 220px;
        margin-right: -250px;
    }

    #markdown-toc a {
        color: #6f7890;
        padding-left: 20px;
    }

    #markdown-toc ul {
        display: none;
    }

    #markdown-toc > .active > ul {
        display: block;
    }

    #markdown-toc .active > a {
        padding-left: 18px;
        color: #1ca8dd;
        background-color: transparent;
        border-left: 2px solid #1ca8dd;
    }

    #markdown-toc.affix {
        top: 0;
    }
}

.docs-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #1a1c22;
}

.docs-top:hover,
.docs-top:focus {
    text-decoration: none;
}

@media (min-width: 768px) {
    .docs-top {
        display: block;
    }
}

.docs-icons {
    margin-bottom: 20px;
    font-size: 20px;
}

.docs-icons .icon {
    padding: 5px;
}

@media (max-width: 768px) {
    .container .docs-jumbotron {
        padding-right: 30px;
        padding-left: 30px;
        margin-right: -15px;
        margin-left: -15px;
        border-radius: 0;
    }
}

.docs-content {
    font-size: 16px;
}

.docs-content > h1 {
    padding-bottom: 9.5px;
    margin: 42px 0 21px;
    border-bottom: 1px solid #434857;
}

.docs-content > h1 + p {
    margin-bottom: 21px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .docs-content > h1 + p {
        font-size: 21px;
    }
}

@media (min-width: 768px) {
    .docs-content {
        padding-right: 265px;
    }
}

.docs-example {
    position: relative;
    padding: 20px;
    margin: 20px -15px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    background: #fff;
}

.docs-example:before,
.docs-example:after {
    content: " ";
    display: table;
}

.docs-example:after {
    clear: both;
}

.docs-example + .highlight {
    margin-top: -20px;
}

@media (min-width: 768px) {
    .docs-example {
        margin-left: 0;
        margin-right: 0;
        border-radius: 3px 3px 0 0;
    }
}

.docs-example + p {
    margin-top: 30px;
}

.docs-example > *:last-child {
    margin-bottom: 0;
}

.docs-example .container {
    width: auto;
}

.docs-example > .dropdown-menu:first-child {
    position: static;
    display: block;
}

.docs-example > .list-group {
    max-width: 300px;
}

@media (max-width: 768px) {
    .docs-example .label {
        display: inline-block;
        margin: 5px;
    }
}

.docs-example.docs-example-modal {
    background-color: #fafafa;
}

.docs-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

.docs-example .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto;
}

.docs-example .modal-lg {
    max-width: 90%;
}

.docs-example.bs-example-tooltips {
    text-align: center;
}

.docs-example.bs-example-tooltips > .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.docs-example.bs-example-tooltip .tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
}

.docs-example.bs-example-popover {
    padding-bottom: 24px;
    background-color: #f9f9f9;
}

.docs-example.bs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
}

.docs-example > .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.docs-top,
#markdown-toc a {
    color: #9198aa;
}

.docs-top:hover,
#markdown-toc a:hover {
    color: #fff;
}

.docs-example {
    background-color: transparent;
    border-color: #434857;
}

.docs-example.docs-example-modal,
.docs-example.bs-example-popover {
    background-color: rgba(0, 0, 0, 0.1);
}

.highlight {
    background-color: #1a1c22;
    border: 0;
}

.highlight pre code {
    color: #999;
}

.docs-example .iconav {
    position: relative !important;
}

.docs-content > h2,
.docs-content > h1 {
    margin-top: 50px;
}

.docs-content > h1 + h2 {
    margin-top: 10px;
}
