<h1>Thank You for contact</h1>

<p>We confirm received form from You:</p>

<p>First Name: {{ contact.firstname }}</p>
<p>Last Name: {{ contact.lastname }}</p>
<p>Email: {{ contact.email }}</p>
<p>Phone: {{ contact.phone }}</p>
<p>Comment: {{ contact.comment }}</p>

<p>We salute and wish You have a nice day!</p>


